body {
  background-color: var(--back);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --back: #e8f6ef;
  --card: #ffe194;
  --point: #4c4c6d;
  --basicfont: black;
  --font: white;
}
