:root {
  --back: #07689f;
  --card: #a2d5f2;
  --point: #ff7e67;
  --basicfont: white;
  --font: white;

  --back: #07689f;
  --card: #a2d5f2;
  --point: #ff7e67;
  --basicfont: white;
  --font: white;

  --back: #7d5a5a;
  --card: #f1d1d1;
  --point: #faf2f2;
  --basicfont: white;
  --font: black;

  --back: #cefff1;
  --card: #ace7ef;
  --point: #a56cc1;
  --basicfont: black;
  --font: white;

  --back: #232931;
  --card: #393e46;
  --point: #4ecca3;
  --basicfont: white;
  --font: black;

  --back: #393e46;
  --card: #232931;
  --point: #4ecca3;
  --basicfont: white;
  --font: black;

  --back: #ea907a;
  --card: #fbc687;
  --point: #aacdbe;
  --basicfont: black;
  --font: white;

  --back: #27296d;
  --card: #5e63b6;
  --point: #f5c7f7;
  --basicfont: white;
  --font: black;

  --back: #fefaec;
  --card: #a9eee6;
  --point: #f38181;
  --basicfont: #625772;
  --font: white;

  --back: #e4d3cf;
  --card: #9e9d89;
  --point: #b67162;
  --basicfont: black;
  --font: white;

  --back: #a3d2ca;
  --card: #5eaaa8;
  --point: #f05945;
  --basicfont: black;
  --font: white;

  --back: #dbf6e9;
  --card: #9ddfd3;
  --point: #ffc93c;
  --basicfont: #31326f;
  --font: #31326f;

  --back: #dbf6e9;
  --card: #ffc93c;
  --point: #31326f;
  --basicfont: black;
  --font: white;

  --back: #f8f5f1;
  --card: #5aa897;
  --point: #45526c;
  --basicfont: black;
  --font: white;

  /*귀여움*/
  --back: #b8dfd8;
  --card: #ffe194;
  --point: #4c4c6d;
  --basicfont: black;
  --font: white;

  --back: #fff5da;
  --card: #f7dad9;
  --point: #d6d2c4;
  --basicfont: black;
  --font: white;

  --back: #eeebdd;
  --card: #1b1717;
  --point: #ce1212;
  --basicfont: white;
  --font: white;

  /*조합1_오렌지나무*/
  --back: #faf1e6;
  --card: #b6c867;
  --point: #ffc074;
  --basicfont: black;
  --font: white;

  /*조합2_개나리*/
  --back: #e8f6ef;
  --card: #ffe194;
  --point: #4c4c6d;
  --basicfont: black;
  --font: white;

  /*조합3_기존*/
  --back: #d5ecc2;
  --card: #98ddca;
  --point: #ffaaa7;
  --basicfont: #625772;
  --font: white;
}
